<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinking Water, Public Toilets, and Cemeteries Map ...</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        #map {
            width: 100%;
            height: 100%;
        }

        .icon-drinking-water {
            width: 24px;
            height: 24px;
        }
        .icon-toilet {
            width: 24px;
            height: 24px;
        }
        .icon-cemetery {
            width: 24px;
            height: 24px;
        }
        .icon-location {
            width: 16px;
            height: 16px;
            background-color: blue;
            border-radius: 50%;
            border: 2px solid white;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        }

        @media (max-width: 768px) {
            .icon-drinking-water {
                width: 32px;
                height: 32px;
            }
            .icon-toilet {
                width: 32px;
                height: 32px;
            }
            .icon-cemetery {
                width: 32px;
                height: 32px;
            }
            .icon-location {
                width: 24px;
                height: 24px;
            }
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <!-- Load Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-gpx/gpx.js"></script> <!-- Added GPX plugin -->
    <script src="https://unpkg.com/@turf/turf/turf.min.js"></script>

    <script>
        var toiletsLayer = L.layerGroup();
        var cemeteriesLayer = L.layerGroup();
        var drinkingWaterLayer = L.layerGroup();    
        var gpxLayer = L.layerGroup();  
        var gpxBuffer; // Variable to store the buffer around the GPX track  
        var map = L.map('map').setView([48, 14], 12);
        var layersControlToggle = L.control({position: 'topright'});
        var locateControl = L.control({position: 'topright'});
        var currentLocationCircle; // Declare variable to hold the current location circle
        var overlayMaps = {
            "Drinking Water": drinkingWaterLayer,
            "Public Toilets": toiletsLayer,
            "Cemeteries": cemeteriesLayer,
            "GPX Track": gpxLayer
        };
        var icons = {
            drinking_water: L.icon({
                iconUrl: 'https://leberkas.gitlab.io/faucet.png',
                iconSize: [24, 24],
                iconAnchor: [12, 24],
                popupAnchor: [0, -24],
                className: 'icon-drinking-water' // Class for responsive sizing
            }),
            toilet: L.icon({
                iconUrl: 'https://leberkas.gitlab.io/wc.png',
                iconSize: [24, 24],
                iconAnchor: [12, 24],
                popupAnchor: [0, -24],
                className: 'icon-toilet' // Class for responsive sizing
            }),
            cemetery: L.icon({
                iconUrl: 'https://leberkas.gitlab.io/cemetery.png',
                iconSize: [24, 24],
                iconAnchor: [12, 24],
                popupAnchor: [0, -24],
                className: 'icon-cemetery' // Class for responsive sizing
            })
        };
        var query = `
        [out:json][timeout:25];
        (
          node["amenity"="drinking_water"]({{bbox}});
          node["amenity"="toilets"]({{bbox}});
          node["landuse"="cemetery"]({{bbox}});
          way["amenity"="drinking_water"]({{bbox}});
          way["amenity"="toilets"]({{bbox}});
          way["landuse"="cemetery"]({{bbox}});
          relation["amenity"="drinking_water"]({{bbox}});
          relation["amenity"="toilets"]({{bbox}});
          relation["landuse"="cemetery"]({{bbox}});
        );
        out center;
        `;
        var gpx = new L.GPX('0SV.gpx', {
            async: true,
            marker_options: {
                startIconUrl: 'https://cdn-icons-png.flaticon.com/512/271/271228.png',
                endIconUrl: 'https://cdn-icons-png.flaticon.com/512/271/271228.png',
                shadowUrl: null
            },
            polyline_options: {
                color: 'blue',
                opacity: 0.75,
                weight: 3,
                lineCap: 'round'
            }
        }).on('loaded', function(e) {
            gpxLayer.addLayer(e.target);
            // Create a buffer around the GPX track (3 km = 3000 meters)
            gpxBuffer = turf.buffer(e.target.toGeoJSON(), 3, { units: 'kilometers' });
            // Re-run the Overpass query to filter amenities within the buffer
            runOverpassQuery(query, map.getBounds());
        });

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors | Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a>'
        }).addTo(map);
        
        L.Control.geocoder({
            defaultMarkGeocode: false
        })
        .on('markgeocode', function(e) {
            var latlng = e.geocode.center;
            map.setView(latlng, 14);
        })
        .addTo(map); 
        
        layersControlToggle.onAdd = function(map) {
            var div = L.DomUtil.create('div', 'leaflet-bar leaflet-control');
            div.innerHTML = '<a href="#" title="Toggle Layers" class="leaflet-control-layers-toggle"><i class="fas fa-layer-group"></i></a>';
            div.onclick = function() {
                var layersControl = document.querySelector('.leaflet-control-layers');
                layersControl.style.display = layersControl.style.display === 'block' ? 'none' : 'block';
            };
            return div;
        };
        layersControlToggle.addTo(map);

        locateControl.onAdd = function (map) {
            var div = L.DomUtil.create('div', 'leaflet-bar leaflet-control');
            div.innerHTML = '<a href="#" title="Move to Current Location" style="display: flex; align-items: center; justify-content: center;"><i class="fas fa-location-arrow"></i></a>';
            div.onclick = function() {
                // Determine zoom level based on device
                var zoomLevel = window.innerWidth <= 2168 ? 15 : 16; // Adjust zoom for mobile vs. desktop
                map.setZoom(zoomLevel);
                map.locate({setView: true, maxZoom: zoomLevel});
            };
            return div;
        };
        locateControl.addTo(map);
        
        map.on('locationfound', function(e) {
            // If a circle already exists, remove it
            if (currentLocationCircle) {
                map.removeLayer(currentLocationCircle);
            }
            // Add a circle at the current location
            currentLocationCircle = L.marker(e.latlng, {
                icon: L.divIcon({
                    className: 'icon-location'
                })
            }).addTo(map);
        });

        // Add scale control to the map
        L.control.scale({
            position: 'bottomleft',  // Position it at the bottom left
            imperial: false,         // Show only metric units (meters/kilometers)
            maxWidth: 200            // Maximum width of the scale bar in pixels
        }).addTo(map);

        function runOverpassQuery(query, bounds) {
            var bbox = bounds.getSouth() + ',' + bounds.getWest() + ',' + bounds.getNorth() + ',' + bounds.getEast();
            query = query.replace(/{{bbox}}/g, bbox);

            var overpassUrl = 'https://overpass-api.de/api/interpreter?data=' + encodeURIComponent(query);

            fetch(overpassUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                toiletsLayer.clearLayers();
                cemeteriesLayer.clearLayers();
                drinkingWaterLayer.clearLayers();

                data.elements.forEach(function(element) {
                    var latlng;
                    if (element.type === "node") {
                        latlng = [element.lat, element.lon];
                    } else if (element.type === "way" && element.center) {
                        latlng = [element.center.lat, element.center.lon];
                    }

                    if (latlng) {
                        // Create a GeoJSON point for the amenity
                        var point = turf.point([latlng[1], latlng[0]]);

                        // Check if the point is within the GPX buffer
                        if (gpxBuffer && !turf.booleanPointInPolygon(point, gpxBuffer)) {
                            return; // Skip this point if it's outside the buffer
                        }

                        var marker;
                        if (element.tags.amenity === "drinking_water") {
                            marker = L.marker(latlng, {icon: icons.drinking_water});
                            marker.bindPopup('Drinking Water Source');
                            drinkingWaterLayer.addLayer(marker);
                        } else if (element.tags.amenity === "toilets") {
                            marker = L.marker(latlng, {icon: icons.toilet});
                            marker.bindPopup('Public Toilet');
                            toiletsLayer.addLayer(marker);
                        } else if (element.tags.landuse === "cemetery") {
                            marker = L.marker(latlng, {icon: icons.cemetery});
                            marker.bindPopup('Cemetery');
                            cemeteriesLayer.addLayer(marker);
                        }

                        if (marker) {
                            var streetViewLink = `<a href="http://maps.google.com/maps?q=&layer=c&cbll=${latlng[0]},${latlng[1]}" target="_blank">View on Street View</a>`;
                            marker.getPopup().setContent(marker.getPopup().getContent() + '<br>' + streetViewLink);
                        }
                    }
                });

                // Add layers back to the map if they're toggled on
                if (map.hasLayer(drinkingWaterLayer)) {
                    drinkingWaterLayer.addTo(map);
                }
                if (map.hasLayer(toiletsLayer)) {
                    toiletsLayer.addTo(map);
                }
                if (map.hasLayer(cemeteriesLayer)) {
                    cemeteriesLayer.addTo(map);
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }


        map.on('moveend', function() {
            runOverpassQuery(query, map.getBounds());
        });

        runOverpassQuery(query, map.getBounds());
             
        L.control.layers(null, {
            "Drinking Water": drinkingWaterLayer,
            "Public Toilets": toiletsLayer,
            "Cemeteries": cemeteriesLayer,
            "GPX Track": gpxLayer
        }, {collapsed: false}).addTo(map);

        // Initially hide the layers control
        document.querySelector('.leaflet-control-layers').style.display = 'none';

        

        // Add the GPX track layer to the map
        //gpxLayer.addTo(map);

    </script>
</body>
</html>
